
.att{
  color: rgb(59, 202, 34);
  margin-top: 30px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: rgba(201, 224, 225, 0.267);
  border-radius: 10px;
  width: 500px; 
  height: 500px; /* Increase the height as needed */
}

.login-formm{
  height: 310px;
  width: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 60px;

}

.inp{
  border: 2px solid black;
  width: 300px;
  background: transparent;
  outline: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 30px;
  box-shadow: 0 0 4px #fff;
  transition: box-shadow 0.5s ease;
  color: black;
}

.login-formm h1{
  letter-spacing: 1px;
  font-size: 45px;
  margin-top: 10px;
}



::placeholder{
  color: #fff;
  padding: 5px;
  opacity: 1;
}

.btn{
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 30px;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0 0 4px #fff;
  cursor: pointer;
}

.btn p{
  font-size: 20px;  
}

input[placeholder]:focus{
  color: #fff;
}

.submit{
  display: flex;
  justify-content: center;
}

.otp{
  width: 100%;
  height: 150px;
}

.subbtn{
  display: flex;
  flex-direction: column;
}

.outer{
  padding: 10px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.confirm{
  height: 150px;
  padding: 10px;
}

.otp-input {
  width: 130px;
  height: 40px;
  font-size: 24px;
  margin: 0 5px;
  text-align: center;
  display: block;
}


.otpbox{
  display: flex;
  justify-content: center;
}


.conf{
  border: 2px solid black;
  height: 50px;
  width: 150px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: transparent;
  outline: none;
  font-size: 13px;
  border-radius: 30px;
  box-shadow: 0 0 4px #fff;
  transition: box-shadow 0.5s ease;
  color: #fff;
}

.sub{
  display: flex;
  justify-content: center;
}

.alt{
  color: red;
  font-size: 20px;
  font-weight: bold;
}